@using System.Data;
@model JH_Model.MultiModel
@{
    ViewBag.Title = "AttendanceSetting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
@using (Html.BeginForm("Attendance_Setting_Save", "Attendance", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        <div class="col-xl-12 col-md-12 mb-2">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="col-xl-12 col-md-12 mb-2">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="Year">Year</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text text-info" id="basic-addon1"><i class="fas fa-calendar-check"></i></span>
                                    </div>
                                    @{
                                        var listYear = new List<SelectListItem>();
                                        listYear.Add(new SelectListItem { Text = "---Select---", Value = "0" });
                                        listYear.Add(new SelectListItem { Text = "2019", Value = "2019" });
                                        listYear.Add(new SelectListItem { Text = "2020", Value = "2020" });
                                        listYear.Add(new SelectListItem { Text = "2021", Value = "2021" });
                                        listYear.Add(new SelectListItem { Text = "2022", Value = "2022" });
                                        listYear.Add(new SelectListItem { Text = "2023", Value = "2023" });
                                        listYear.Add(new SelectListItem { Text = "2024", Value = "2024" });
                                        listYear.Add(new SelectListItem { Text = "2025", Value = "2025" });
                                        listYear.Add(new SelectListItem { Text = "2026", Value = "2026" });
                                        listYear.Add(new SelectListItem { Text = "2027", Value = "2027" });
                                        listYear.Add(new SelectListItem { Text = "2028", Value = "2028" });
                                        listYear.Add(new SelectListItem { Text = "2029", Value = "2029" });
                                        listYear.Add(new SelectListItem { Text = "2030", Value = "2030" });
                                    }
                                    @Html.DropDownListFor(m => m.attModel.YYYY, listYear, new
                               {
                                   @class = "form-control",
                                   @required = "required",
                                   @id = "ddlYear",
                                   @tabindex = "1"
                               })
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="Year">Month</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text text-info" id="basic-addon1"><i class="fas fa-calendar-check"></i></span>
                                    </div>
                                    @{
                                        var listMonth = new List<SelectListItem>();
                                        listMonth.Add(new SelectListItem { Text = "---Select---", Value = "0" });
                                        listMonth.Add(new SelectListItem { Text = "January", Value = "1" });
                                        listMonth.Add(new SelectListItem { Text = "February", Value = "2" });
                                        listMonth.Add(new SelectListItem { Text = "March", Value = "3" });
                                        listMonth.Add(new SelectListItem { Text = "April", Value = "4" });
                                        listMonth.Add(new SelectListItem { Text = "May", Value = "5" });
                                        listMonth.Add(new SelectListItem { Text = "June", Value = "6" });
                                        listMonth.Add(new SelectListItem { Text = "July", Value = "7" });
                                        listMonth.Add(new SelectListItem { Text = "August", Value = "8" });
                                        listMonth.Add(new SelectListItem { Text = "September", Value = "9" });
                                        listMonth.Add(new SelectListItem { Text = "October", Value = "10" });
                                        listMonth.Add(new SelectListItem { Text = "November", Value = "11" });
                                        listMonth.Add(new SelectListItem { Text = "December", Value = "12" });
                                    }
                                    @Html.DropDownListFor(m => m.attModel.MM, listMonth, new
                                {
                                    @class = "form-control",
                                    @required = "required",
                                    @id = "ddkMonth",
                                    @tabindex = "2"
                                })
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="Year">Staff</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text text-info" id="basic-addon1"><i class="fas fa-calendar-check"></i></span>
                                    </div>
                                    @Html.DropDownListFor(m => m.attModel.StaffID, new SelectList(Enumerable.Empty<SelectListItem>(), "", ""), "---Select---", new
                               {
                                   @class = "form-control",
                                   @required = "required",
                                   @id = "ddlStaff",
                                   @tabindex = "3"
                               })
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="Process" style="color:white;">Process</label>
                                <div class="input-group">
                                    <button type="button" id="btnsearch" class="btn btn-info" onclick="_Search()"><i class="fa fa-search"></i>&nbsp; Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-12 mb-2 dynamcdiv">
                        @*<div class="form-row dynamicAtt">
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="update" style="display:none;">
        <div class="col-xl-12 text-center">
            <div class="card border-bottom-success shadow h-100">
                <div class="card-body">
                    <div class="text-s font-weight-bold text-custom1 text-uppercase mb-1">
                        <button type="submit" id="btnSave" class="btn btn-success col-xl-3" tabindex="38"><i class="fa fa-save"></i>&nbsp; Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                SelectStaff();

            });

            function SelectStaff() {
                $.ajax({
                    url: "../Staff/GetStaff",
                    type: "GET",
                    dataType: "JSON",
                    dataSrc: '',
                    success: function (items) {
                        $.each(items, function (i, item) {
                            $("#ddlStaff").append(
                                $('<option></option>').val(item.StaffID).html(item.Name));
                        });
                    }
                });
            }

            function _Search() {
                var YYY = $("#ddlYear").val();
                var MM = $("#ddkMonth").val();
                var staffID = $("#ddlStaff").val();
                $.ajax({
                    type: 'POST',
                    url: "../Attendance/_AttendanceSearch/" + YYY + '_' + MM + '_' + staffID,
                    dataType: 'json',
                    success: function (json) {
                        if (json == null || json == "") {
                             window.location.href =  '@Url.Action("AttendanceSetting", "Attendance")'
                        }
                        else {                   
                            Filltable(json);
                            $("#update").css("display", "block");
                        }

                    }
                });
            }

            function Filltable(json) 
            {
                $(".dynamicAtt").remove();

                var maindiv = $(".dynamcdiv");
                var newdiv = document.createElement('div');
                newdiv.className = 'form-row dynamicAtt';
                $(maindiv).append(newdiv);

                var x;
                for (x = 1; x <= json[0].Total; x++) {
                    var wrapper = $(".dynamicAtt");

                    var timein = '<input type="time" class = "form-control input-sm" id="attlistModel_' + (x-1) + '__TimeIn" name="attlistModel[' + (x-1) + '].TimeIn">';

                    var timeout = '<input type="time" class = "form-control input-sm" id="attlistModel_' + (x-1) + '__TimeOut" name="attlistModel[' + (x-1) + '].TimeOut">';

                    var unpaidfull = '<input type="radio" class="Uncheckclass" onclick="Uncheck(this)" id="attlistModel_' + (x-1) + '__LeaveTypeFull" name="attlistModel[' + (x-1) + '].LeaveType" value="1" >';
                
                    var unpaidhalf = '<input type="radio" class="Uncheckclass" onclick="Uncheck(this)" id="attlistModel_' + (x-1) + '__LeaveTypeHalf" name="attlistModel[' + (x-1) + '].LeaveType" value="2">';

                    var onehrleave = '<input type="checkbox" id="attlistModel_' + (x-1) + '__LeaveTypeOnehr" name="attlistModel[' + (x-1) +'].LeaveType" value="3">';

                    var onehrearly = '<input type="radio" class="Uncheckclass" onclick="Uncheck(this)" id="attlistModel_' + (x-1) + '__EarlyOutOnehr" name="attlistModel[' + (x-1) + '].EarlyOut" value="1">';

                    var twohrearly = '<input type="radio" class="Uncheckclass" onclick="Uncheck(this)" id="attlistModel_' + (x-1) + '__EarlyOutTwohr"  name="attlistModel[' + (x-1) + '].EarlyOut" value="2">';
                

                    $(wrapper).append('<div class="form-group col-md-2">' +
                                    ' <label for="Day">' + x + '</label>' +     
                                    ' <table style="border: 1px solid #999999;width:80%">' +
                                    '<tbody>' +

                                    '<tr class="form-group_entry">' +
                                    '<td>Time IN:'+ timein + '</td>' +
                                    '</tr>' +

                                    '<tr class="form-group_entry">' +
                                     '<td>Tine Out:' + timeout+ '</td>' +
                                    '</tr>' +

                                    '<tr class="form-group_entry">' +
                                    '<td>Unpaid:' +
                                     unpaidfull + '<label for="Full">Full</label>'+
                                     unpaidhalf + '<label for="Half">Half</label>'+
                                    '</td>'+
                                  '</tr>' +

                                    '<tr class="form-group_entry">' +
                                    '<td>1 Hour Leave:' + onehrleave + '</td > ' +
                                   '</tr>' +

                                    '<tr class="form-group_entry">' +
                                    '<td>Early Out:' +
                                     onehrearly+'<label for="1Hour">1 Hour</label>' +
                                     twohrearly +'<label for="2Hour">2 Hours</label>' +
                                    '</td > ' +
                                    '</tr>' +

                                    '</tbody >' +
                                    '</table >' +
                        '</div>');
                    
                    $('#attlistModel_' + (x - 1) + '__TimeIn').val(json[x - 1].TimeIn);
                    $('#attlistModel_' + (x - 1) + '__TimeOut').val(json[x - 1].TimeOut);
                    if (json[x - 1].LeaveType == 1) {
                        $('#attlistModel_' + (x - 1) + '__LeaveTypeFull').prop('checked', true);
                    }
                    if (json[x - 1].LeaveType == 2) {
                        $('#attlistModel_' + (x - 1) + '__LeaveTypeHalf').prop('checked', true);
                    }
                    if (json[x - 1].LeaveType == 3) {
                        $('#attlistModel_' + (x - 1) + '__LeaveTypeOnehr').prop('checked', true);
                    }
                    if (json[x - 1].EarlyOut == 1) {

                        $('#attlistModel_' + (x - 1) + '__EarlyOutOnehr').prop('checked', true);
                    }
                    if (json[x - 1].EarlyOut == 2) {
                        $('#attlistModel_' + (x - 1) + '__EarlyOutTwohr').prop('checked', true);
                    }
                }
            }

            function Uncheck() {
                $(document).on('dblclick', '.Uncheckclass', function () {
                    if (this.checked) {
                        $(this).prop('checked', false);
                    }
                });
            }

        </script>
    }

