@using System.Data;
@model DataSet
@{
    ViewBag.Title = "AttendanceList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-xl-12 col-md-12 mb-2">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="Year">Year</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-info" id="basic-addon1"><i class="fas fa-calendar-check"></i></span>
                            </div>
                            @{
                                var listYear = new List<SelectListItem>();
                                listYear.Add(new SelectListItem { Text = "---Select---", Value = "0" });
                                listYear.Add(new SelectListItem { Text = "2019", Value = "2019" });
                                listYear.Add(new SelectListItem { Text = "2020", Value = "2020" });
                                listYear.Add(new SelectListItem { Text = "2021", Value = "2021" });
                                listYear.Add(new SelectListItem { Text = "2022", Value = "2022" });
                                listYear.Add(new SelectListItem { Text = "2023", Value = "2023" });
                                listYear.Add(new SelectListItem { Text = "2024", Value = "2024" });
                                listYear.Add(new SelectListItem { Text = "2025", Value = "2025" });
                                listYear.Add(new SelectListItem { Text = "2026", Value = "2026" });
                                listYear.Add(new SelectListItem { Text = "2027", Value = "2027" });
                                listYear.Add(new SelectListItem { Text = "2028", Value = "2028" });
                                listYear.Add(new SelectListItem { Text = "2029", Value = "2029" });
                                listYear.Add(new SelectListItem { Text = "2030", Value = "2030" });
                            }@Html.DropDownList("Year",
                   listYear,
                   new { @class="form-control",@id="ddlYear" })
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="Year">Month</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-info" id="basic-addon1"><i class="fas fa-calendar-check"></i></span>
                            </div>
                            @{
                                var listMonth = new List<SelectListItem>();
                                listMonth.Add(new SelectListItem { Text = "---Select---", Value = "0" });
                                listMonth.Add(new SelectListItem { Text = "January", Value = "01" });
                                listMonth.Add(new SelectListItem { Text = "February", Value = "02" });
                                listMonth.Add(new SelectListItem { Text = "March", Value = "03" });
                                listMonth.Add(new SelectListItem { Text = "April", Value = "04" });
                                listMonth.Add(new SelectListItem { Text = "May", Value = "05" });
                                listMonth.Add(new SelectListItem { Text = "June", Value = "06" });
                                listMonth.Add(new SelectListItem { Text = "July", Value = "07" });
                                listMonth.Add(new SelectListItem { Text = "August", Value = "08" });
                                listMonth.Add(new SelectListItem { Text = "September", Value = "09" });
                                listMonth.Add(new SelectListItem { Text = "October", Value = "10" });
                                listMonth.Add(new SelectListItem { Text = "November", Value = "11" });
                                listMonth.Add(new SelectListItem { Text = "December", Value = "12" });
                            }@Html.DropDownList("Month",
                     listMonth,
                     new { @class="form-control",@id="ddlYear" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <div class="input-group">
                            
                        </div>
                    </div>
                    <div class="form-group col-md-2">

                    </div>
                </div>
                <div>
                    <table id="content" class="hrtable">
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>Time In</th>
                                <th>Time Out</th>
                                <th>LateTime</th>
                                <th>Early Out</th>
                                <th>Leave</th>
                            </tr>
                        </thead>
                        <tbody>
                                @{
                                    int maxday1 = DateTime.DaysInMonth(2020, 02);
                                    DataTable dt = Model.Tables[0];
                                    DataTable dt1 = Model.Tables[1];
                                    SelectList list = new SelectList(dt1.AsEnumerable().ToList(), "LeaveCD", "LeaveType");

                                    for (int i = 1; i <= maxday1; i++)
                                    {
                                        DataRow[] dr = dt.Select("DD =" + i);
                                        string timeIn = string.Empty;
                                        string timeOut = string.Empty;
                                        string lateTime = string.Empty;
                                        string earlyout = string.Empty;
                                        if (dr.Count() > 0)
                                        {
                                            timeIn = dr[0]["TimeIn"].ToString();
                                            timeOut = dr[0]["TimeOut"].ToString();
                                            lateTime = dr[0]["LateTime"].ToString();
                                            earlyout = dr[0]["EarlyOut"].ToString();
                                        }
                                        <tr>
                                            <td>
                                                @i
                                            </td>
                                            <td>
                                                <input id="txtTimeIn" type="time" value="@timeIn" />
                                            </td>
                                            <td>
                                                <input id="txtTimeIn" type="time" value="@timeOut" />
                                            </td>
                                            <td>
                                                <label style="color:red;">
                                                    @lateTime
                                                </label>
                                            </td>
                                            <td>                                              
                                            @{
                                            var LeaveType = new List<SelectListItem>();
                                            LeaveType.Add(new SelectListItem { Text = "---Select---", Value = "0" });
                                            LeaveType.Add(new SelectListItem { Text = "1 Hr", Value = "1" });
                                            LeaveType.Add(new SelectListItem { Text = "2 Hr", Value = "2" });
                                        }@Html.DropDownList("EarlyOut",LeaveType, earlyout,new { @class = "form-control", @id = "ddlEarlyOut" })
                                    </td>
                                            @*<td>
                                                @Html.DropDownList("ddlList", new SelectList(list, "LeaveType", "LeaveCD"), new { @id = "ddlist" })
                                            </td>*@


                                </tr>
                                }
                                                }
                    </tbody>
                </table>
            </div>
                                            @*<div style="overflow-x:scroll;">
        <table id="tblAttendance" class="hrtable" style="width:3300px;text-align:center">
            <thead>
                <tr>
                    <th style="padding:10px 18px;">StaffID</th>
                    <th style="padding:10px 18px;">Name</th>
                    @{
                        int maxday = DateTime.DaysInMonth(2019, 12);
                        for (int i = 1; i <= maxday; i++)
                        {
                            <th>@i</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    DataTable dt = Model.Tables[1];
                    foreach (DataRow row in Model.Tables[0].Rows)
                    {
                        <tr>
                            <td style="width:100px;border:1px solid;text-align:center">
                                @row["StaffID"]
                            </td>
                            <td style="width:100px;border:1px solid;text-align:center">
                                @row["StaffName"]
                            </td>
                            @for (int j = 1; j <= maxday; j++)
                            {
                                DataRow[] dr = dt.Select("StaffID = " + row["StaffID"] + " and YYYYMM = 201912 and DD = " + j);
                                <td style="width:130px;border:1px solid;text-align:left">
                                    In :
                                    @if (dr.Count() > 0)
                                    {
                                        if (string.Equals(dr[0]["TimeIn"].ToString(), "-"))
                                        {
                                            <label style="color:blue;">
                                                @dr[0]["TimeIn"]
                                            </label>
                                        }
                                        else if (string.Compare(dr[0]["LateTime"].ToString(), "00:00:00") == 1)
                                        {
                                            <label style="color:red;">
                                                @dr[0]["TimeIn"]
                                            </label>
                                        }
                                        else
                                        {
                                            <label style="color:blue;">
                                                @dr[0]["TimeIn"]
                                            </label>
                                        }
                                    }
                                    <br />
                                    Out:
                                    <label style="color:blue;">
                                        @if (@dr.Count() > 0)
                                        {
                                            @dr[0]["TimeOut"]
                                        }
                                    </label>
                                    <br />
                                    @{
                                        var listUnpaidLeave = new List<SelectListItem>();
                                        listUnpaidLeave.Add(new SelectListItem { Text = "---Select---", Value = "0" });
                                        listUnpaidLeave.Add(new SelectListItem { Text = "Full", Value = "1" });
                                        listUnpaidLeave.Add(new SelectListItem { Text = "Half", Value = "2" });
                                        listUnpaidLeave.Add(new SelectListItem { Text = "1Hour", Value = "3" });
                                    }@Html.DropDownList("UnpaidLeave",
                           listUnpaidLeave,
                           new { @id="ddlUnpaidLeave", onchange = "LeaveChange(this);" })
                                </td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>*@
</div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

        });

        function LeaveChange(ddl) {
            if (ddl.value > 0)
                ddl.style.color = 'red';
            else
                ddl.style.color = 'black';
        }

    </script>
}
