
@model JH_Model.StaffModel
@{
    ViewBag.Title = "Attendance Quick Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.RenderPartial("~/Views/Shared/MessagePartialView.cshtml");
}

@section Styles{
    <link href="~/Content/jquery.multiselect.css" type="text/css" rel="stylesheet" />
}

@section Scripts{

    <script src="~/Scripts/jquery.multiselect.js" type="text/javascript"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $("input[name='timeinout']").attr('checked', 'checked');
            $("input[name='timeinout']").attr('disabled', true);

            var Imsg = '@ViewBag.Imsg';
            if (Imsg == "OK") {
                GetMessage("I_1001", "Update");
                $('#myModal').modal('show');
            }
            var IEmsg = '@ViewBag.IEmsg';
            if (IEmsg == "NotOK") {
                GetMessage("I_1007", "Update");
                $('#myModal').modal('show');
            }

            var Umsg = '@ViewBag.Umsg';
            if (Umsg == "OK") {
                GetMessage("I_1002", "Update");
                $('#myModal').modal('show');
            }

            var UEmsg = '@ViewBag.UEmsg';
            if (UEmsg == "NotOK") {
                GetMessage("I_1006", "Update");
                $('#myModal').modal('show');
            }

            $('#ms-list-1').attr("position", "inherit");



            $('#StaffList').multiselect({
                columns: 5,
                search: true,
                selectAll: true,
                texts: {
                    placeholder: '--- [ Choose Multiple Staff ] ---',
                    search: '--Search Staff--',
                },


            });

            SelectLeave();
            CheckReadOnly();
        });

        //timein timeout update
        function Update() {
            var fromdate = $('#lblfromdate').val();
            var todate = $('#lbltodate').val();
            var staff = $('#StaffList').val();
            var transportation = $('#chktransportation').val();
            var holiday = $('#chkholidayfee').val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("QuickAttendance_Update", "Attendance", new { @id = "ID" })'.replace("ID", staff),
                data: { 'fromdate': fromdate, 'todate': todate, 'transportation': transportation, 'holiday': holiday },
                dataType: 'json',
                success: function (data) {
                    if (data == "OK") {
                         window.location.href = '@Url.Action("QuickSetting", "Attendance")'
                    }
                    else
                        window.location.href = '@Url.Action("QuickSetting", "Attendance")'
                }

            })
        }

          //leave update
          function LeaveUpdate() {
            var fromdate = $('#lblfromdate').val();
            var todate = $('#lbltodate').val();
            var staff = $('#StaffList').val();
            var leavetype = $('#ddlleave').val();
            var amleave = $('#chkmorningleave').val();
            var pmleave = $('#chkeveleave').val();
              var holiday = $('#chkholidayfee').val();
              if (leavetype == 0) {
                  alert("Please select leave type!");
              }
              else {
                  if (amleave == 0 && pmleave == 0) {
                      alert("Please select morning leave or evening leave!");
                  }
                  else {
                      $.ajax({
                          type: 'GET',
                          url: '@Url.Action("QuickAttendance_LeaveUpdate", "Attendance", new { @id = "ID" })'.replace("ID", staff),
                          data: { 'fromdate': fromdate, 'todate': todate, 'leavetype': leavetype, 'morningleave': amleave, 'eveleave': pmleave, 'holiday': holiday },
                          dataType: 'json',
                          success: function (data) {
                              if (data == "OK") {
                                  window.location.href = '@Url.Action("QuickSetting", "Attendance")'
                              }
                              else
                                  window.location.href = '@Url.Action("QuickSetting", "Attendance")'
                          }
                      })
                  }
                   
              }
        }

       

        $("#lbltodate").change(function () {
            var startdate = $("#lblfromdate").val();
            var enddate = $("#lbltodate").val();
            if (startdate == "") {
                GetMessage("W_1009", "StartDate");
                $('#myModal').modal('show');
                $("#lbltodate").val('');
            }
            if (Date.parse(startdate) > Date.parse(enddate)) {
                GetMessage("W_1008", "CheckDate");
                $('#myModal').modal('show');
                $("#lbltodate").val('');
            }
        });


        function SelectLeave() {
            $.ajax({
                url: '@Url.Action("GetLeave", "Attendance",new { @id = "ID" })'.replace("ID", 1),
                type: "GET",
                dataType: "JSON",
                dataSrc: '',
                success: function (items) {
                    $.each(items, function (i, item) {
                        $("#ddlleave").append(
                            $('<option></option>').val(item.LeaveCD).html(item.LeaveType));
                    });
                    @*$('#ddlleave').val('@Model.LeaveType');*@
                }
            });
        }




        $("#chktimeinout").change(function () {
            if ($(this).prop("checked")) {
                $(this).val("1");
            } else {
                $(this).val("0");
            }
        });

        $("#chkmorningleave").change(function () {
            if ($(this).prop("checked")) {
                $(this).val("1");
            } else {
                $(this).val("0");
            }
        });

        $("#chkeveleave").change(function () {
            if ($(this).prop("checked")) {
                $(this).val("1");
            } else {
                $(this).val("0");
            }
        });

        $("#chktransportation").change(function () {
            if ($(this).prop("checked")) {
                $(this).val("0");
            } else {
                $(this).val("1");
            }
        });

        $("#chkholidayfee").change(function () {
            if ($(this).prop("checked")) {
                $(this).val("0");
            } else {
                $(this).val("1");
            }
        });

        function CheckReadOnly() {
            var ViewPageName ="QuickSetting";
                 $.ajax({
                     url: '@Url.Action("UserRead", "User", new { @id = "ID" })'.replace("ID", ViewPageName),
                     type: "GET",
                     dataType: "JSON",
                     dataSrc: '',
                     success: function (json) {
                         if (json == null || json == "") {
                             Context.Response.Redirect("~/Shared/Error");
                         }
                         else
                         {
                             $('#content_zip').css('pointer-events', 'none');
                         }
                     }
                 });             
        }
    </script>
}

<div class="row" id="content_zip">
    <div class="col-xl-12 col-md-12 mb-2">
        <div class="card border-left-info shadow">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <div class="text-s font-weight-bold text-info text-uppercase mb-1">FROM DATE<label style="color:red;">&nbsp;*</label></div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-info" id="basic-addon1" style="height:38px;"><i class="fa fa-calendar-check"></i></span>
                            </div>
                            <input type="date" name="fromdate" class="form-control" id="lblfromdate">&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <div class="text-s font-weight-bold text-info text-uppercase mb-1">TO DATE<label style="color:red;">&nbsp;*</label></div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-info" id="basic-addon1" style="height:38px;"><i class="fa fa-calendar-check"></i></span>
                            </div>
                            <input type="date" name="todate" class="form-control" id="lbltodate">
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <div class="text-s font-weight-bold text-info text-uppercase mb-1">Holidays</div>
                        <div class="input-group" style="padding-top: 7px;">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" id="chkholidayfee" value="1" />
                                </div>
                            </div>
                            <label class="form-control" for="timeinout">No Pay</label>
                        </div>
                    </div>
                </div>

               
                    <div class="text-s font-weight-bold text-info text-uppercase mb-1">Choose Multiple Staff <label style="color:red;">&nbsp;*</label></div>
                    <div class="form-group col-md-14">
                        <div class="input-group" style="height:50px;">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-info" id="basic-addon1" style="height:35px;"><i class="fa fa-user-check"></i></span>

                            </div>
                            @Html.ListBoxFor(m => m.SelectedMultiStaffId, ViewBag.StaffList as SelectList, new
                   { id = "StaffList", @class = "form-control"})
                        </div>
                    </div>
                   
                </div>
            </div> 
    </div>


    <div class="col-xl-5 col-md-5 mb-2">
        <div class="card border-left-info shadow"> 
            <div class="card-body">
                <div class="text-s font-weight-bold text-info text-uppercase mb-1">Default Time & Pay Transportation</div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="LeaveType">Attendance:Time</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" value="0" name="timeinout" id="timeinout" />
                                </div>
                            </div>
                            <label class="form-control" for="timeinout">Default</label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="LeaveType">TransportationFees</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" id="chktransportation" value="1" />
                                </div>
                            </div>
                            <label class="form-control" for="timeinout">No Pay</label>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="Update" style="color:white;">Update</label>
                        <div class="input-group" style="width:500px;">
                            <button type="button" id="btnupdate" class="btn btn-info col-xl-3" onclick="Update()"><i class="fa fa-save"></i>&nbsp; Update</button>&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-7 col-md-7 mb-2">
        <div class="card border-left-info shadow">
            <div class="card-body">
                <div class="text-s font-weight-bold text-info text-uppercase mb-1">Leave Setting</div>
                <div class="form-row">

                    <div class="form-group col-md-3">
                        <label for="LeaveType">Leave Type</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-info" id="basic-addon1" style="height:38px;"><i class="fa fa-list-alt"></i></span>
                            </div>
                            @Html.DropDownListFor(m => m.LeaveType, new SelectList(Enumerable.Empty<SelectListItem>(), "", ""), "Select", new
                       {
                           @class = "form-control input-sm",
                           @id = "ddlleave"
                       })

                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="Morning">Morning:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" id="chkmorningleave" value="0" />
                                </div>
                            </div>
                            <label class="form-control" for="MorningLeave">Leave</label>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="Evening">Evening:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" id="chkeveleave" value="0" />
                                </div>
                            </div>
                            <label class="form-control" for="EveningLeave">Leave</label>
                        </div>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="Update" style="color:white;">Update</label>
                        <div class="input-group" style="width:500px;margin-top: -4px;">
                            <button type="button" id="btnupdate2" class="btn btn-info col-xl-3" onclick="LeaveUpdate()"><i class="fa fa-save"></i>&nbsp; Update</button>&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>








