@model JH_Model.DempartmentModel
@{
    ViewBag.Title = "Department List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.RenderPartial("~/Views/Shared/MessagePartialView.cshtml");

}
@using (Html.BeginForm("Department_Save", "Department", FormMethod.Post, new { enctype = "multipart/form-data", @id = "MyForm" }))
{
    <div class="container-fluid" id="content_zip">
        <!-- Page Heading -->
        <!--<div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Staff List</h1>
          <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
        </div>-->
        <!-- Content Row -->
        <div class="row">
            <div class="col-xl-12 mb-2">
                <div class="card border-left-custom2 shadow">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="DepartmentCD">Department CD</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text text-custom2" id="basic-addon1"><i class="fas fa-list-ol"></i></span>
                                    </div>

                                    @Html.TextBoxFor(dm => dm.DepartmentCD, new
                               {
                                   @class = "form-control input-sm",
                                   @tabindex = "1",
                                   @required = "required",
                                   @id = "txtDepartmentCD",
                                   @autofocus = "autofocus",
                                   maxlength = "100",
                                   @onchange = "checkExist(event)"
                               })
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="DepartmentName">Department Name</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text text-custom2" id="basic-addon1"><i class="fa fa-building"></i></span>
                                    </div>
                                    @Html.TextBoxFor(dm => dm.DepartmentName, new
                               {
                                   @class = "form-control input-sm",
                                   @tabindex = "2",
                                   @required = "required",
                                   @id = "txtDepartmentName",
                                   @autofocus = "autofocus",
                                   maxlength = "100"
                               })
                                </div>
                            </div>
                            <div class="form-group col-md-4" id="save">
                                <label for="Process" style="color:white;">Process</label>
                                <div class="input-group">
                                    <button tabindex="3" type="submit" id="btnsave" class="btn btn-info col-xl-4"><i class="fa fa-save"></i>&nbsp; Save</button>
                                </div>
                            </div>

                            <div class="form-group col-md-3" id="update" style="display:none;">
                                <label for="Process" style="color:white;">Process</label>
                                <div class="input-group" style="width:450px;">
                                    <button type="submit" id="btnupdate" onclick="UpdateConfirm();" class="btn btn-info col-xl-3"><i class="fa fa-edit"></i>&nbsp; Update</button>&nbsp;&nbsp;&nbsp;
                                    <button type="button" id="btncancel" class="btn btn-dark col-xl-3"><i class="fa fa-window-close"></i>&nbsp; Cancel</button>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-md-12 mb-2">
                <div class="card border-left-custom2 shadow h-100 py-2">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tbDepartment" class="hrtable col-sm-12 col-md-12">
                                <thead>
                                    <tr>
                                        <th>Department CD</th>
                                        <th>Department Name</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
             var tt = '@ViewBag.mesg';

            if (tt == "OK") {

                GetMessage("I_1002", "Update");

                $('#myModal').modal('show');
            }
            else
            {

            }

            var aa = '@ViewBag.mesgsave';
            if (aa == "OK") {
               
                GetMessage("I_1001", "Insert");
                $('#myModal').modal('show');
            }
            else {

            }
           

         
            var table = $('#tbDepartment').DataTable(
                {
                    "language": {
                        "info": "Display _START_ to _END_ of _TOTAL_ records",
                    },
                    "oLanguage": {
                        "sLengthMenu": "Display _MENU_ records",
                    },
                    "ajax": {
                        "url": "../Department/GetDepartment",
                        "type": "GET",
                        "datatype": "json",
                        "dataSrc": ""
                    },
                    "columns": [

                        {

                            "data": "DepartmentCD", orderable: false, "width": "3%",
                            "render": function (data, type, row) {

                                //return '<a href="../Department/Smart_Template_New_Edit/' + row.DepartmentID + '"></a>';
                                //return '<a href="../Department/DepartmentList/' + row.DepartmentCD + '">' + row.DepartmentCD + '</a>';
                                return '<a href="#" onclick="DepartmentEdit(&quot;' + row.DepartmentCD + '&quot;,&quot;' + row.DepartmentName + '&quot;);">' + row.DepartmentCD + '</a>';
                            }
                        },


                        { "data": "DepartmentName", orderable: false, "width": "13%" }
                    ],

                }
            );

            CheckReadOnly();
        });

        function DepartmentEdit(depCD, depName) {

            $('#txtDepartmentCD').val(depCD);
            $('#txtDepartmentName').val(depName);
            $("#txtDepartmentCD").attr('readonly', true);

            $("#update").css("display", "block");
            $("#cancel").css("display", "block");

            return $("#save").css("display", "none");
        }

        $("#btncancel").click(function () {

            //GetMessage("I_1001", "Save");

            $("#txtDepartmentCD").attr('readonly', false);

            $('#txtDepartmentCD').val("");
            $('#txtDepartmentName').val("");

            $("#update").css("display", "none");
            $("#cancel").css("display", "none");
            $("#save").css("display", "block");

            $("#txtDepartmentCD").removeAttr("required");
            $("#txtDepartmentName").removeAttr("required");

            //$('#myModal').modal('show');
        })

        function CheckReadOnly() {
            var ViewPageName ="DepartmentList";
                 $.ajax({
                     url: '@Url.Action("UserRead", "User", new { @id = "ID" })'.replace("ID", ViewPageName),
                     type: "GET",
                     dataType: "JSON",
                     dataSrc: '',
                     success: function (json) {
                         if (json == null || json == "") {
                             Context.Response.Redirect("~/Shared/Error");
                         }
                         else
                         {
                             $('#content_zip').css('pointer-events', 'none');
                         }
                     }
                 });             
        }
         function checkExist(event) {
            var userid = event.target.value;
             $.ajax({
                 url: '@Url.Action("DepartmentCheck", "Department", new { @id = "ID" })'.replace("ID", userid),
                     type: "GET",
                     dataType: "JSON",
                     dataSrc: '',
                     success: function (json) {
                         if (json == null || json == "") { }
                         else
                         {
                             GetMessage("I_1014", "Duplicate");
                             $('#myModal').modal('show');
                             $("#txtDepartmentCD").val('');
                         }
                     }
                 });      
        }

    </script>
}

