@model JH_Model.AllowanceModel
@{
    ViewBag.Title = "Allowance Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.RenderPartial("~/Views/Shared/MessagePartialView.cshtml");
}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var UImsg = '@ViewBag.UImsg';
            if (UImsg == "OK") {
                GetMessage("I_1002", "Update");
                $('#myModal').modal('show');
            }
            var UEmsg = '@ViewBag.UEmsg';
            if (UEmsg == "NotOK") {
                GetMessage("I_1006", "Update");
                $('#myModal').modal('show');
            }
        });

        function fnAllowNumeric() {
            if ((event.keyCode < 48 || event.keyCode > 57) && event.keyCode!=8 && event.keyCode != 53) {
                if ((event.keyCode < 106 && event.keyCode > 95)) {
                    return true;
                }
                event.preventDefault();
                return false;

            }
        }
    </script>
    }

@Html.AntiForgeryToken()
@using (Html.BeginForm("Allowance_Setting_Save", "Allowance", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "MyForm" }))
{
    <div class="row">
        <div class="col-xl-12 col-md-4 mb-2">
            <div class="card border-left-danger shadow">
                <div class="card-body">
                    <div class="text-s font-weight-bold text-danger text-uppercase mb-1">Currency : <label for="Currency">@ViewBag.Data</label></div>
                </div>
            </div>
        </div>

        <div class="col-xl-12 col-md-12 mb-2">
            <div class="card border-left-info shadow">
                <div class="card-body">
                    <div class="text-s font-weight-bold text-info text-uppercase mb-1">Management</div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="MD">MD</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-info" id="basic-addon1"><i class="fa fa-money-bill-wave"></i></span>
                                </div>
                                @Html.HiddenFor(am => am.Currency)
                                @Html.TextBoxFor(am => am.MD, new
                           {
                               @class = "form-control input-sm input-numeral1",
                               @tabindex = "1",
                               @id = "txtMD",
                               @autofocus = "autofocus",
                               maxlength = "10"
                           })
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="Director">Director</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-info" id="basic-addon1"><i class="fa fa-money-bill-wave"></i></span>
                                </div>
                                @Html.TextBoxFor(am => am.Director, new
                           {
                               @class = "form-control input-sm input-numeral2",
                               @tabindex = "2",
                               @id = "txtdirector",
                               maxlength = "10"
                           })
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="Manager">Manager</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-info" id="basic-addon1"><i class="fa fa-money-bill-wave"></i></span>
                                </div>
                                @Html.TextBoxFor(am => am.Manager, new
                           {
                               @class = "form-control input-sm input-numeral3",
                               @tabindex = "3",
                               @id = "txtManager",
                               @autofocus = "autofocus",
                               maxlength = "10"
                           })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-8 col-md-8 mb-2">
            <div class="card border-left-success shadow">
                <div class="card-body">
                    <div class="text-s font-weight-bold text-success text-uppercase mb-1">Language Level</div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="N1">N1</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-success" id="basic-addon1"><i class="fa fa-money-bill-wave"></i></span>
                                </div>
                                @Html.TextBoxFor(am => am.N1, new
                           {
                               @class = "form-control input-sm input-numeral4",
                               @tabindex = "4",
                               @id = "txtN1",
                               @autofocus = "autofocus",
                               maxlength = "10"
                           })
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="N2">N2</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-success" id="basic-addon1"><i class="fa fa-money-bill-wave"></i></span>
                                </div>
                                @Html.TextBoxFor(am => am.N2, new
                           {
                               @class = "form-control input-sm input-numeral5",
                               @tabindex = "5",
                               @id = "txtN2",
                               @autofocus = "autofocus",
                               maxlength = "10"
                           })
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="N3">N3</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-success" id="basic-addon1"><i class="fa fa-money-bill-wave"></i></span>
                                </div>
                                @Html.TextBoxFor(am => am.N3, new
                           {
                               @class = "form-control input-sm input-numeral6",
                               @tabindex = "6",
                               @id = "txtN3",
                               @autofocus = "autofocus",
                               maxlength = "10"
                           })
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="JpnUniGrade">Japan Uni Graduate</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-success" id="basic-addon1"><i class="fa fa-money-bill-wave"></i></span>
                                </div>
                                @Html.TextBoxFor(am => am.JpnUniGrade, new
                           {
                               @class = "form-control input-sm input-numeral7",
                               @tabindex = "7",
                               @id = "txtJpnunigrande",
                               @autofocus = "autofocus",
                               maxlength = "10"
                           })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-4 mb-2">
            <div class="card border-left-custom1 shadow">
                <div class="card-body">
                    <div class="text-s font-weight-bold text-custom1 text-uppercase mb-1">Other</div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="MarketingTeamAllowance" class="label col-form-label" style="width: 200px;">Marketing Team</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-custom1" id="basic-addon1"><i class="fa fa-money-bill-wave"></i></span>
                                </div>
                                @Html.TextBoxFor(am => am.MarketingTeamAllowance, new
                           {
                               @class = "form-control input-sm input-numeral8",
                               @tabindex = "8",
                               @id = "txtmarketingteam",
                               @autofocus = "autofocus",
                               maxlength = "10"
                           })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="MentorAllowance" class="label col-form-label">&nbsp;Mentor Allowance</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-custom1" id="basic-addon1"><i class="fa fa-money-bill-wave"></i></span>
                                </div>
                                @Html.TextBoxFor(am => am.MentorAllowance, new
                           {
                               @class = "form-control input-sm input-numeral9",
                               @tabindex = "9",
                               @id = "txtmentor",
                               @autofocus = "autofocus",
                               maxlength = "10"
                           })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-8 col-md-8 mb-2">
            <div class="card border-left-custom2 shadow">
                <div class="card-body">
                    <div class="text-s font-weight-bold text-custom2 text-uppercase mb-1">Professional Skill</div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="Local1stInterviewer" class="label col-form-label" style="width: 200px;">&nbsp;Local 1st Interviewer</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-custom2" id="basic-addon1"><i class="fa fa-money-bill-wave"></i></span>
                                </div>
                                @Html.TextBoxFor(am => am.Local1stInterviewer, new
                           {
                               @class = "form-control input-sm input-numeral10",
                               @tabindex = "10",
                               @id = "txtlocal1stinterviewer",
                               @autofocus = "autofocus",
                               maxlength = "10"
                           })
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="Local2ndInterviewer" class="label col-form-label" style="width: 200px;">Local 2nd Interviewer</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-custom2" id="basic-addon1"><i class="fa fa-money-bill-wave"></i></span>
                                </div>
                                @Html.TextBoxFor(am => am.Local2ndInterviewer, new
                           {
                               @class = "form-control input-sm input-numeral11",
                               @tabindex = "11",
                               @id = "txtlocal2ndinterviewer",
                               @autofocus = "autofocus",
                               maxlength = "10"
                           })
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="Oversea1stInterviewer" class="label col-form-label" style="width: 200px;">Oversea 1st Interviewer</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-custom2" id="basic-addon1"><i class="fa fa-money-bill-wave"></i></span>
                                </div>
                                @Html.TextBoxFor(am => am.Oversea1stInterviewer, new
                           {
                               @class = "form-control input-sm input-numeral12",
                               @tabindex = "12",
                               @id = "txtoversea1stinterviewer",
                               @autofocus = "autofocus",
                               maxlength = "10"
                           })
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="Oversea2ndInterviewer" class="label col-form-label" style="width: 200px;">Oversea 2nd Interviewer</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-custom2" id="basic-addon1"><i class="fa fa-money-bill-wave"></i></span>
                                </div>
                                @Html.TextBoxFor(am => am.Oversea2ndInterviewer, new
                           {
                               @class = "form-control input-sm input-numeral13",
                               @tabindex = "13",
                               @id = "txtoversea1stinterviewer",
                               @autofocus = "autofocus",
                               maxlength = "10"
                           })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-4 mb-2">
            <div class="card border-left-primary shadow">
                <div  class="card-body">
                    <div class="text-s font-weight-bold text-primary text-uppercase mb-1">Health</div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="MaternityAllowance">Maternity Allowance</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-primary" id="basic-addon1"><i class="fa fa-money-bill-wave"></i></span>
                                </div>
                                @Html.TextBoxFor(am => am.Maternity, new
                           {
                               @class = "form-control input-sm",
                               @style = "text-align:right",
                               @tabindex = "14",
                               @id = "txtMaternity",
                               @autofocus = "autofocus",
                               maxlength = "4",
                               @onkeydown = "fnAllowNumeric()"
                           })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="MedicalAllowance"> Medical Allowance</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-primary" id="basic-addon1"><i class="fa fa-money-bill-wave"></i></span>
                                </div>
                                @Html.TextBoxFor(am => am.Medical, new
                           {
                               @class = "form-control input-sm",
                               @style="text-align:right",
                               @tabindex = "15",
                               @id = "txtMedical",
                               @autofocus = "autofocus",
                               maxlength = "4",
                               @onkeydown = "fnAllowNumeric()"
                           })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="col-xl-4 col-md-4 mb-2">
            <div class="card border-left-warning shadow">
                <div class="card-body">
                    <div class="text-s font-weight-bold text-warning text-uppercase mb-1">Transportation</div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="Bus">Bus</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-warning" id="basic-addon1"><i class="fa fa-money-bill-wave"></i></span>
                                </div>
                                @Html.TextBoxFor(am => am.Bus, new
                           {
                               @class = "form-control input-sm input-numeral14",
                               //@type = "email",
                               @tabindex = "14",
                               //@required = "required",
                               @id = "txtbus",
                               @autofocus = "autofocus",
                               maxlength = "10",
                               //@onkeypress = "return CheckNumeric();",
                               //@onkeyup = "FormatCurrency(this)"
                           })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Train">Train</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-warning" id="basic-addon1"><i class="fa fa-money-bill-wave"></i></span>
                                </div>
                                @Html.TextBoxFor(am => am.Train, new
                           {
                               @class = "form-control input-sm input-numeral15",
                               @tabindex = "15",
                               //@required = "required",
                               @id = "txttrain",
                               maxlength = "10",
                               //@onkeypress = "return CheckNumeric();",
                               //@onkeyup = "FormatCurrency(this)"
                           })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>*@

        <div class="col-xl-12 text-center">
            <div class="card border-bottom-success shadow h-100">
                <div class="card-body">
                    <div class="text-s font-weight-bold text-custom1 text-uppercase mb-1">
                        <button tabindex="16" type="submit" class="btn btn-success col-xl-2"><i class="fa fa-save"></i>&nbsp; Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



