@model JH_Model.MultiModel
@{
    ViewBag.Title = "User_Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.RenderPartial("~/Views/Shared/MessagePartialView.cshtml");
}
<style>
    input[type=checkbox] {
        position: relative;
        cursor: pointer;
    }

        input[type=checkbox]:before {
            content: "";
            display: block;
            position: absolute;
            width: 16px;
            height: 16px;
            top: 0;
            left: 0;
            border: 2px solid #555555;
            border-radius: 3px;
            background-color: white;
        }

        input[type=checkbox]:checked:after {
            content: "";
            display: block;
            width: 5px;
            height: 10px;
            border: solid black;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            top: 2px;
            left: 6px;
        }

</style>

@Html.AntiForgeryToken()
@using (Html.BeginForm("User_Save", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
<div class="container-fluid" id="content_zip">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
            <div class="card border-left-info shadow">
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-xl-2 col-md-3">
                            <label for="UserID">UserID</label><label style="color:red;">&nbsp;*</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-info" id="basic-addon1"><i class="fas fa-id-card-alt"></i></span>
                                </div>
                                @Html.HiddenFor(um => um.userModel.SaveUpdateFlag, new { @id = "hfSave_Update" })
                                @Html.TextBoxFor(um => um.userModel.UserID, new
                                {
                                    @class = "form-control input-sm input-integeronly1",
                                    @tabindex = "1",
                                    @required = "required",
                                    @id = "txtUserID",
                                    @autofocus = "autofocus",
                                    maxlength = "4",

                                })
                            </div>
                        </div>
                        <div class="form-group col-xl-2 col-md-3">
                            <label for="UserName">User Name</label><label style="color:red;">&nbsp;*</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-info" id="basic-addon1"><i class="fas fa-signature"></i></span>
                                </div>
                                @Html.TextBoxFor(um => um.userModel.UserName, new
                           {
                               @class = "form-control input-sm",
                               @tabindex = "2",
                               @required = "required",
                               @id = "txtUserName",
                               @autofocus = "autofocus",
                               maxlength = "100",
                              
                           })
                            </div>
                        </div>
                        <div class="form-group col-xl-2 col-md-3">
                            <label for="Password">Password</label><label style="color:red;">&nbsp;*</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-info" id="basic-addon1"><i class="fas fa-key"></i></span>
                                </div>
                                @Html.TextBoxFor(um => um.userModel.Password, new
                           {
                               @class = "form-control input-sm",
                               @tabindex = "3",
                               @required = "required",
                               @id = "txtPwd",
                               @autofocus = "autofocus",
                               maxlength = "100",
                               @type = "password",
                              
                           })
                            </div>
                        </div>
                    </div>

                    <div class="dynamcdiv">
                        <div class="form-row dynamicAtt">

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-xl-12 text-center">
            <div class="card border-bottom-success shadow h-100">
                <div class="card-body">
                    <div class="text-s font-weight-bold text-custom1 text-uppercase mb-1">
                        <button type="submit" id="btnSave" class="btn btn-success col-xl-2" tabindex="38"><i class="fa fa-save"></i>&nbsp; Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
             var Emsg = '@ViewBag.Emsg';
            if (Emsg == "Duplicate") {
                GetMessage("I_1003", "Duplicate");
                 $('#myModal').modal('show');
            }
            var sid = '@ViewBag.Userid';
            if (sid == null || sid == "") {
                BindM_View();
            }
            else {
                BindM_View_ForEdit(sid);
            }
            CheckReadOnly();
        });

        function BindM_View_ForEdit(sid) {
             $.ajax({
                 type: 'POST',
                 url: '@Url.Action("_MViewBind_ForEdit", "User",new { @id = "ID" })'.replace("ID", sid),
                 dataType: 'json',
                 success: function (json) {
                     $("#btnSave").html("Update");
                     document.getElementById("hfSave_Update").value = "Update";
                     document.getElementById('txtUserID').readOnly = true;

                     $('#txtUserID').val(json[0].UserID);
                     $('#txtUserName').val(json[0].UserName);
                     $('#txtPwd').val(json[0].Password);

                     FillMenu(json);
                 }
             });
        }

        function BindM_View() {
             $.ajax({
                 type: 'POST',
                 url: '@Url.Action("_MViewBind", "User")',
                 dataType: 'json',
                 success: function (json) {
                     FillMenu(json);
                 }
             });
        }

        function FillMenu(json) {
            $(".dynamicAtt").remove();
            var maindiv = $(".dynamcdiv");
            var newdiv = document.createElement('div');
            newdiv.className = 'form-row dynamicAtt';
            $(maindiv).append(newdiv);

            var x;
            if (json[0].Total > 0) {
                var wrapper = $(".dynamicAtt");
                $(wrapper).append(' <table id="content" class="hrtable">' +
                    '<thead>' +
                    '<tr>' +
                    '<th>View ID</th>' +
                    '<th>View Name</th>' +
                    '<th>Show View<input type="checkbox" id="chkall_ShowView"></th>' +
                    '<th>Read Only<input type="checkbox" id="chkall_ReadOnly"></th>' +                  
                    '</tr>' +
                    '</thead>' +
                    '<tbody>' +
                    '</tbody>' +
                    '</table>');
               
                for (x = 1; x <= json[0].Total; x++) {

                    var ViewID = '<input type="text" style="border-style: hidden;" maxlength="4" size="4" readonly id="UserlistModel_' + (x - 1) + '__ViewID" name="UserlistModel[' + (x - 1) + '].ViewID">';

                    var ShowView = '<input type="checkbox" id="UserlistModel_' + (x - 1) + '__ShowView" name="UserlistModel[' + (x - 1) + '].ShowView">';

                    var IsReadOnly = '<input type="checkbox" id="UserlistModel_' + (x - 1) + '__IsReadOnly" name="UserlistModel[' + (x - 1) + '].IsReadOnly">';

                    $("#content > tbody").append(' <tr>' +
                        ' <td>' + ViewID + '</td>' +
                        ' <td>' + json[x - 1].ViewName + ' </td>' +
                        ' <td>' + ShowView + '</td>' +
                        ' <td>' + IsReadOnly + '</td >' +                      
                        ' </tr>');
                    $('#UserlistModel_' + (x - 1) + '__ViewID').val(json[x - 1].ViewID);

                    if (json[x - 1].ShowView == true) {
                        $('#UserlistModel_' + (x - 1) + '__ShowView').val(true);
                        $('#UserlistModel_' + (x - 1) + '__ShowView').prop('checked', true);
                     
                    }
                    if (json[x - 1].IsReadOnly == true) {
                        $('#UserlistModel_' + (x - 1) + '__IsReadOnly').val(true);
                        $('#UserlistModel_' + (x - 1) + '__IsReadOnly').prop('checked', true);
                    }

                    if (x % 2 == 0) {
                        $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', 'azure');
                    }
                    else {
                        $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', 'white');
                    }  

                    if (json[x - 1].ShowView == true || json[x - 1].IsReadOnly == true) {
                        var $row = $('#UserlistModel_' + (x - 1) + '__IsReadOnly').closest('tr');
                        $($row).css("background-color", "#7fb2e8");
                        $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', '#7fb2e8');
                    }

                    if (json[x - 1].ShowView == true && json[x - 1].IsReadOnly == true) {
                        var $row = $('#UserlistModel_' + (x - 1) + '__IsReadOnly').closest('tr');
                        $($row).css("background-color", "#ffffb3");
                        $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', '#ffffb3');
                    }


                    checkshowview(x);
                    checkreadonly(x);                  
                }
                checkAllShowView(json[0].Total);
                checkAllReadOnly(json[0].Total);
            }
        }

        function checkAllShowView(j) {
            $('#chkall_ShowView').click(function () {
                var x;
                if ($(this).prop("checked") == true) {
                    for (x = 1; x <= j; x++) {
                        $('#UserlistModel_' + (x - 1) + '__ShowView').val(true);
                        $('#UserlistModel_' + (x - 1) + '__ShowView').prop('checked', true);

                        if ($('#UserlistModel_' + (x - 1) + '__IsReadOnly').val() == "true") {
                            var $row = $('#UserlistModel_' + (x - 1) + '__ShowView').closest('tr');
                            $($row).css("background-color", "#ffffb3");
                            $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', '#ffffb3');
                        }
                        else if ($('#UserlistModel_' + (x - 1) + '__IsReadOnly').val() == "on" || $('#UserlistModel_' + (x - 1) + '__IsReadOnly').val() == "false") {
                            var $row = $('#UserlistModel_' + (x - 1) + '__ShowView').closest('tr');
                            $($row).css("background-color", "#7fb2e8");
                            $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', '#7fb2e8');
                        }
                    }
                }
                else if ($(this).prop("checked") == false) {
                  
                    for (x = 1; x <= j; x++) {
                        $('#UserlistModel_' + (x - 1) + '__ShowView').val(false);
                        $('#UserlistModel_' + (x - 1) + '__ShowView').prop('checked', false);

                        if ($('#UserlistModel_' + (x - 1) + '__IsReadOnly').val() == "true") {
                            var $row = $('#UserlistModel_' + (x - 1) + '__ShowView').closest('tr');
                            $($row).css("background-color", "#7fb2e8");
                            $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', '#7fb2e8');
                        }
                        else if ($('#UserlistModel_' + (x - 1) + '__IsReadOnly').val() == "on" || $('#UserlistModel_' + (x - 1) + '__IsReadOnly').val() == "false") {
                            var $row = $('#UserlistModel_' + (x - 1) + '__ShowView').closest('tr');
                            $($row).css("background-color", "");
                            if (x % 2 == 0) {
                                $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', 'azure');
                            }
                            else {
                                $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', 'white');
                            }  
                        }
                    }
                }
            });           
        }

        function checkAllReadOnly(j) {
            $('#chkall_ReadOnly').click(function () {
                var x;
                if ($(this).prop("checked") == true) {
                    for (x = 1; x <= j; x++) {
                        $('#UserlistModel_' + (x - 1) + '__IsReadOnly').val(true);
                        $('#UserlistModel_' + (x - 1) + '__IsReadOnly').prop('checked', true);

                        if ($('#UserlistModel_' + (x - 1) + '__ShowView').val() == "true") {
                            var $row = $('#UserlistModel_' + (x - 1) + '__IsReadOnly').closest('tr');
                            $($row).css("background-color", "#ffffb3");
                            $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', '#ffffb3');
                        }
                        else if ($('#UserlistModel_' + (x - 1) + '__ShowView').val() == "on" || $('#UserlistModel_' + (x - 1) + '__ShowView').val() == "false") {
                            var $row = $('#UserlistModel_' + (x - 1) + '__IsReadOnly').closest('tr');
                            $($row).css("background-color", "#7fb2e8");
                            $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', '#7fb2e8');
                        }
                    }
                }
                else if ($(this).prop("checked") == false) {
                    for (x = 1; x <= j; x++) {
                        $('#UserlistModel_' + (x - 1) + '__IsReadOnly').val(false);
                        $('#UserlistModel_' + (x - 1) + '__IsReadOnly').prop('checked', false);

                        if ($('#UserlistModel_' + (x - 1) + '__ShowView').val() == "true") {
                            var $row = $('#UserlistModel_' + (x - 1) + '__IsReadOnly').closest('tr');
                            $($row).css("background-color", "#7fb2e8");
                            $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', '#7fb2e8');
                        }
                        else if ($('#UserlistModel_' + (x - 1) + '__ShowView').val() == "on" || $('#UserlistModel_' + (x - 1) + '__ShowView').val() == "false") {
                            var $row = $('#UserlistModel_' + (x - 1) + '__IsReadOnly').closest('tr');
                            $($row).css("background-color", "");
                            if (x % 2 == 0) {
                                $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', 'azure');
                            }
                            else {
                                $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', 'white');
                            }  
                        }
                    }
                }
            });
        }

        function checkshowview(x)
        {
            $('#UserlistModel_' + (x - 1) + '__ShowView').click(function () {
                if ($(this).prop("checked") == true) {
                    $('#UserlistModel_' + (x - 1) + '__ShowView').val(true);
                  
                    if ($('#UserlistModel_' + (x - 1) + '__IsReadOnly').val() == "true") {
                        var $row = $('#UserlistModel_' + (x - 1) + '__ShowView').closest('tr');
                        $($row).css("background-color", "#ffffb3");
                        $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', '#ffffb3');
                    }
                    else if ($('#UserlistModel_' + (x - 1) + '__IsReadOnly').val() == "on" || $('#UserlistModel_' + (x - 1) + '__IsReadOnly').val() == "false") {
                        var $row = $('#UserlistModel_' + (x - 1) + '__ShowView').closest('tr');
                        $($row).css("background-color", "#7fb2e8");
                        $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', '#7fb2e8');
                    }
                }
                else if ($(this).prop("checked") == false) {
                    $('#UserlistModel_' + (x - 1) + '__ShowView').val(false);
                    $('#chkall_ShowView').prop('checked', false);

                    if ($('#UserlistModel_' + (x - 1) + '__IsReadOnly').val() == "true") {
                        var $row = $('#UserlistModel_' + (x - 1) + '__ShowView').closest('tr');
                        $($row).css("background-color", "#7fb2e8");
                        $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', '#7fb2e8');
                    }
                    else if ($('#UserlistModel_' + (x - 1) + '__IsReadOnly').val() == "on" || $('#UserlistModel_' + (x - 1) + '__IsReadOnly').val() == "false") {
                        var $row = $('#UserlistModel_' + (x - 1) + '__ShowView').closest('tr');
                        $($row).css("background-color", "");
                        if (x % 2 == 0) {
                            $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', 'azure');
                        }
                        else {
                            $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', 'white');
                        }  
                    }
                }
            });
        }

        function checkreadonly(x)
        {
            $('#UserlistModel_' + (x - 1) + '__IsReadOnly').click(function () {
                if ($(this).prop("checked") == true) {
                    $('#UserlistModel_' + (x - 1) + '__IsReadOnly').val(true);

                    if ($('#UserlistModel_' + (x - 1) + '__ShowView').val() == "true") {
                        var $row = $('#UserlistModel_' + (x - 1) + '__IsReadOnly').closest('tr');
                        $($row).css("background-color", "#ffffb3");
                        $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', '#ffffb3');
                    }
                    else if ($('#UserlistModel_' + (x - 1) + '__ShowView').val() == "on" || $('#UserlistModel_' + (x - 1) + '__ShowView').val() == "false") {
                        var $row = $('#UserlistModel_' + (x - 1) + '__IsReadOnly').closest('tr');
                        $($row).css("background-color", "#7fb2e8");
                        $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', '#7fb2e8');
                    }
                }
                else if ($(this).prop("checked") == false) {
                    $('#UserlistModel_' + (x - 1) + '__IsReadOnly').val(false);
                    $('#chkall_ReadOnly').prop('checked', false);

                    if ($('#UserlistModel_' + (x - 1) + '__ShowView').val() == "true") {
                        var $row = $('#UserlistModel_' + (x - 1) + '__IsReadOnly').closest('tr');
                        $($row).css("background-color", "#7fb2e8");
                        $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', '#7fb2e8');
                    }
                    else if ($('#UserlistModel_' + (x - 1) + '__ShowView').val() == "on" || $('#UserlistModel_' + (x - 1) + '__ShowView').val() == "false") {
                        var $row = $('#UserlistModel_' + (x - 1) + '__IsReadOnly').closest('tr');
                        $($row).css("background-color", "");
                        if (x % 2 == 0) {
                            $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', 'azure');
                        }
                        else {
                            $('#UserlistModel_' + (x - 1) + '__ViewID').css('background-color', 'white');
                        }  
                    }
                }
            });
        }


      

         function CheckReadOnly() {
             var ViewPageName ="User_Entry";
                 $.ajax({
                     url: '@Url.Action("UserRead", "User", new { @id = "ID" })'.replace("ID", ViewPageName),
                     type: "GET",
                     dataType: "JSON",
                     dataSrc: '',
                     success: function (json) {
                         if (json == null || json == "") {
                             Context.Response.Redirect("~/Shared/Error");
                         }
                         else
                         {
                             $('#content_zip').css('pointer-events', 'none');
                         }
                     }
                 });             
        }
    </script>
}

